on post-fs
    # hwe
    insmod /system/lib/modules/mtk_hwe.ko

    # alps core
    # insmod /system/lib/modules/alps_core.ko

    insmod /system/lib/modules/ccci_plat.ko
    insmod /system/lib/modules/ccci.ko
    insmod /system/lib/modules/ccmni.ko

    insmod /system/lib/modules/m4u.ko

    insmod /system/lib/modules/mtk_drvb_77.ko

    # SGX
    insmod /system/lib/modules/pvrsrvkm.ko
    insmod /system/lib/modules/mtklfb.ko

    insmod /system/lib/modules/vcodec_kernel_driver.ko

    insmod /system/lib/modules/sec.ko

    # device apc settings
    insmod /system/lib/modules/devapc.ko
    # device info /proc interface
    insmod /system/lib/modules/devinfo.ko

# STP, WMT, GPS, FM and BT Driver
    insmod /system/lib/modules/mtk_hif_sdio.ko
    insmod /system/lib/modules/mtk_stp_wmt.ko
    insmod /system/lib/modules/mtk_stp_uart.ko
    insmod /system/lib/modules/mtk_stp_gps.ko
    insmod /system/lib/modules/mtk_stp_bt.ko
    insmod /system/lib/modules/mt6620_fm_drv.ko
    insmod /system/lib/modules/mtk_fm_priv.ko

# Load CFG80211 Module
    insmod /system/lib/modules/cfg80211.ko
    insmod /system/lib/modules/aed.ko

on boot
    insmod /system/lib/modules/lowmemorydetect.ko
