on boot
    write /sys/class/android_usb/android0/iManufacturer $ro.product.manufacturer
    write /sys/class/android_usb/android0/iProduct $ro.product.model
    write /sys/class/android_usb/android0/iSerial $ro.serialno
    write /sys/class/android_usb/android0/f_rndis/manufacturer MediaTek
    write /sys/class/android_usb/android0/f_rndis/vendorID 17EF
    write /sys/class/android_usb/android0/f_rndis/wceis 1
    write /sys/devices/platform/mt_usb/cmode 1
    chown system system /sys/class/android_usb/android0/f_rndis/ethaddr
    chmod 0660 /sys/class/android_usb/android0/f_rndis/ethaddr

on property:sys.usb.config=mass_storage
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 17EF
    write /sys/class/android_usb/android0/idProduct 743A
    write /sys/class/android_usb/android0/functions $sys.usb.config
    write /sys/class/android_usb/android0/enable 1
    setprop sys.usb.state $sys.usb.config

on property:sys.usb.config=mass_storage,adb
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 17EF
    write /sys/class/android_usb/android0/idProduct 7435
    write /sys/class/android_usb/android0/functions $sys.usb.config
    write /sys/class/android_usb/android0/enable 1
    start adbd
    setprop sys.usb.state $sys.usb.config

on property:sys.usb.config=rndis
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 17EF
    write /sys/class/android_usb/android0/idProduct 7436
    write /sys/class/android_usb/android0/functions $sys.usb.config
    write /sys/class/android_usb/android0/bDeviceClass 224
    write /sys/class/android_usb/android0/enable 1
    setprop sys.usb.state $sys.usb.config

on property:sys.usb.config=rndis,adb
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 17EF
    write /sys/class/android_usb/android0/idProduct 7437
    write /sys/class/android_usb/android0/functions $sys.usb.config
    write /sys/class/android_usb/android0/bDeviceClass 224
    write /sys/class/android_usb/android0/enable 1
    start adbd
    setprop sys.usb.state $sys.usb.config

#30.USB Charging Only configuration
on property:sys.usb.config=charging
    setprop sys.usb.state $sys.usb.config
    setprop sys.usb.charging yes

on property:sys.usb.charging=yes
	write /sys/devices/platform/mt_usb/cmode 0

on property:sys.usb.charging=no
	write /sys/devices/platform/mt_usb/cmode 1
