# logger should be world writable (for logging) but not readable
/dev/xLog           0644   root       root
/dev/msm_camera/*   0660   system     system
/dev/lenovo_cabc    0666   system     system
# SGX device node
/dev/pvrsrvkm       0666   root       root
# sysfs properties
/sys/devices/platform/leds-mt65xx/leds/green   delay_on      0664  system   system
/sys/devices/platform/leds-mt65xx/leds/green   delay_off      0664  system   system
/sys/devices/platform/leds-mt65xx/leds/red   delay_on      0664  system   system
/sys/devices/platform/leds-mt65xx/leds/red   delay_off      0664  system   system
/sys/devices/platform/leds-mt65xx/leds/blue   delay_on      0664  system   system
/sys/devices/platform/leds-mt65xx/leds/blue   delay_off      0664  system   system
